table {width: 600px;}
table th, table td {text-align: left; padding: 1px 3px;}
.alignright {text-align: right;}
table th {color: #fff; font-weight: bold; background: #222;}
.company .stats,
.company .costs,
.company .orders {min-width: 600px;}

